@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;list-style: none;

}

nav {
    display: flex;
}

.logo {
width: 20%;
display: flex;
justify-content:center ;
}

.logo-nav {
    width: 25%;
}

.nav-links {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links li:hover {
    text-decoration: underline;
    cursor: pointer;
}