@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-color: #1b252f;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  box-shadow: 0 0 5px 0 black;
  margin-bottom: 2rem;
}

a {
  cursor: pointer;
}

.logo {
  display: flex;
}

.logo-nav {
  height: 50px;
}

fieldset {
  display: flex;
  justify-content: space-around;
}

.check-input {
  transition: transform 2s;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  width: 100%;
  background-color: #00a8e1;
  border: 2px solid orange;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

.comments {
  padding: 0 1rem;
}

.comments li {
  padding: 1rem 0;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  font-size: 1.5rem;
}

.nav-links li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.shows {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-template-rows: auto;
  justify-items: center;
}

.title-likes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

article {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

article > img {
  margin-bottom: 0.5rem;
}

.like-box {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.like-box img {
  filter: invert();
  height: 20px;
  cursor: pointer;
}

article a {
  width: 100%;
  text-align: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

footer {
  padding: 2rem;
  bottom: 0;
  box-shadow: 0 0 5px 0 black;
  width: 100%;
}

.popup-background {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(193, 199, 208, 0.8);
  color: black;
}

.popup {
  background-color: white;
  border-radius: 16px;
  padding: 16px;
  margin: 20px auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 500px;
  max-height: 90vh;
  overflow-y: auto;
}

.iconx-modal {
  height: 30px;
  width: 30px;
  align-self: flex-end;
  cursor: pointer;
}

.show-image {
  width: 250px;
  align-self: center;
}

h2 {
  padding: 1rem;
}

.details {
  padding: 1rem 1rem;
  columns: 2;
}

.description {
  padding: 0 1rem;
}

.comment-title {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 0.5rem;
  margin-top: 1rem;
}

h3 {
  align-self: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.input-name,
.input-insight {
  padding: 0.3rem;
}

.input-name {
  width: 200px;
}

.input-insight {
  width: 300px;
}

.form button {
  width: fit-content;
  padding: 0.3rem;
}
